
.main-container{
    height: 90%;
    background-color:#F0FF42;
}
.container-fluid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    background-color: #F0FF42;
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text{
    text-align: center;
    font-weight: 600px;
    font-size: 20px;
}
.g-col-3{
    width: 25%;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.section-1 img{
    width: 100%;
    height: auto;
    padding: 5px;
}
#logo-2{
    pointer-events: none;
}
#logo-3{
    pointer-events: none;
}
#logo-4{
    pointer-events: none;
}
.text{
    height: auto;
    width: auto;
}
#button{
    width: 10%;
    height: 30px;
}
.section-2{
    /* background-color: #82CD47; */
    height: 82.5vh;
}
.hide{
    display: none;
}

.section-2-items{
    width: 60%;
    padding: 10px;
    margin:auto;
    height: auto;

}
.form-label{
    font-size: 20px;
}
h1{
    text-align: center;
    background-color:#379237;
    padding: 15px;
}
h2{
    text-align: center;
    background-color:#379237;
    padding: 15px;

}
 .digits{
    padding: 5px;
    font-weight: 300;
    font-size: 50px;
} 
.form-group{
    width: auto;
    padding: 30px;
    background-color:#82CD47;
}
.form-control{
    width: 100%;
    height: 40px;
}
ul{
    list-style:none;
    display:grid;
    grid-template-columns:5fr 5fr; /* two col */
    justify-content:center;
    width:25vw;
    align-items: center;
  
  }
  ul li{
    padding:1em 2em .8em 2em;
    border:1px solid black;
    justify-content: center;
  
  }
  #lists{
    justify-content: center;
  }
  .dice-game{
    justify-content: center;
  }
  #dice-image{
    height: 300px;
    width: 300px;
    margin: auto;
    padding: 50px;
  }
  #hit{
    text-align: center;
    font-weight: 300px;
    font-size: 25px;
  }
  .clicktoplay{
    display: flex;
    margin: auto;
    height: 400px;
    width: 100%;
    background-color: aqua;
    overflow: hidden;
  }
  .border{
    border: 1px solid black;
  }
  .score{
    text-align: center;
    width: 100%;
  }
  